<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-container">
    <h2>Shows</h2>
    <table>
        <thead>
        <tr>
            <th>Show Title</th>
            <th>Director</th>
            <th>Show Date</th>
            <th>Show Time (Minutes)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="show : ${shows}">
            <td th:text="${show.title}"></td>
            <td th:text="${show.director}">
            <td th:text="${#dates.format(show.showDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${show.durationMinutes}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>