<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pagina Principală</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Lista Spectacolelor</h1>
<table border="1">
    <thead>
    <tr>
        <th>Data Spectacol</th>
        <th>Titlu Spectacol</th>
        <th>Sală</th>
        <th>Durata</th>
        <th>Locuri Disponibile</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="show : ${shows}">
        <td th:text="${#dates.format(show.showDate, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:text="${show.title}"></td>
        <td th:text="${show.hallName}"></td>
        <td th:text="${show.durationMinutes}"></td>
        <td th:text="${show.availableSeats}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>